{% extends "admin-layout.html" %}
{% block custom_styles %}
<style>
    .button {
        border: none;
        padding: 15px 32px;
        text-decoration: none;
        display: inline-block;
        cursor: pointer;
        text-align: center;
        margin: 4px 2px;
    }
</style>
{% endblock custom_styles %}
{% block content %}

<!----------------------------- Main Site Section ------------------------------>
<button><a href="{{url_for('admin.create_student')}}">Add New Student</a></button>
<button><a href="{{url_for('admin.create_lecturer')}}">Add New Lecturer</a></button>
<button id="showStudents">Show Students</button>
<button id="showLecturers">Show Lecturers</button>


<div id="studentsTable" class="customers-container">
    {% if students %}
    <table id="customers">
        <thead>
            <th>ID</th>
            <th>Index Number</th>
            <th>Name</th>
            <th>Username</th>
            <th>Programme</th>
            <th>Group</th>
            <th>Email</th>
            <th colspan="2">Action</th>
        </thead>
        {% for student in students %}
        <tr>
            <td>{{student.id}}</td>
            <td>{{student.index_number}}</td>
            <td>{{student.name}}</td>
            <td>{{student.username}}</td>
            <td>{{student.program}}</td>
            <td>{{student.group_id}}</td>
            <td>{{student.email}}</td>
            <td><a href="{{url_for('admin.edit_student', student_id=student.id)}}" class="edit">Edit</a></td>
            <td><button onclick="document.getElementById('delete-{{student.id}}').style.display='block'" class="w3-button w3-black">Delete</button></td>
        </tr>
        
        <div id="delete-{{student.id}}" class="w3-modal" style="display: none;">
            <div class="w3-modal-content w3-animate-top w3-card-4">
                <header class="w3-container w3-teal">
                    <span onclick="document.getElementById('delete-{{student.id}}').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                    <h2>Confirm Delete</h2>
                </header>
                <div>
                    <a class="button" href="{{url_for('admin.delete_user', user_id=student.id)}}" style="background-color: #f44336;">Yes</a>
                    <button onclick="document.getElementById('delete-{{student.id}}').style.display='none'" class="button" style="background-color: #4CAF50;">No</button>
                </div>
            </div>
        </div>
        {% endfor %}
    </table>
    {% else %}
    <p>No Student Database</p>
    {% endif %}
</div>

<div id="lecturersTable" class="customers-container" style="display: none;">
    {% if lecturers %}
    <table id="customers">
        <thead>
            <th>ID</th>
            <th>Staff ID</th>
            <th>Name</th>
            <th>Username</th>
            <th>Department</th>
            <th>Email</th>
            <th colspan="2">Action</th>
        </thead>
        {% for lecturer in lecturers %}
        <tr>
            <td>{{lecturer.id}}</td>
            <td>{{lecturer.staff_id}}</td>
            <td>{{lecturer.name}}</td>
            <td>{{lecturer.username}}</td>
            <td>{{lecturer.department}}</td>
            <td>{{lecturer.email}}</td>
            <td><a href="{{url_for('admin.edit_lecturer', lecturer_id=lecturer.id)}}" class="edit">Edit</a></td>
            <td><a href="{{url_for('admin.delete_user', user_id=lecturer.id)}}" class="delete">Delete</a></td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>No Lecturer Database</p>
    {% endif %}
</div>

<script>
$("#showStudents").on('click', function(){
    $("#studentsTable").css('display', 'block');
    $("#lecturersTable").css('display', 'none');
    
});
    
$("#showLecturers").on('click', function(){
    $("#studentsTable").css('display', 'none');
    $("#lecturersTable").css('display', 'block');
    
});
</script>

{% endblock content %}
