{% extends "admin-layout.html" %}
{% block custom_styles %}
<style>
    .button {
        border: none;
    padding: 8px 29px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    margin: 4px 2px;
    border-radius: 26px;
    }
    .customers-container{
       max-width: 70rem !important;
    }
    .menu-button{
        margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    }
</style>
{% endblock custom_styles %}
{% block content %}

<!----------------------------- Main Site Section ------------------------------>
<!-- <div class="menu-button">
    <button><a href="{{url_for('admin.create_student')}}">Add New Student</a></button>
    <button><a href="{{url_for('admin.create_lecturer')}}">Add New Lecturer</a></button>
    <button id="showStudents"><a href="{{url_for('admin.dashboard')}}">Show Students</a></button>
    <button id="showLecturers"><a href="{{url_for('admin.lecturers')}}">Show Lecturers</a></button>
</div> -->



<div id="studentsTable" class="customers-container">
    {% if students.items | length != 0 %}
    <table id="customers">
        <thead>
            <th>ID</th>
            <th>Index Number</th>
            <th>Name</th>
            <th>Username</th>
            <th>Programme</th>
            <th>Group</th>
            <th>Email</th>
            <th colspan="2">Action</th>
        </thead>
        {% for student in students.items %}
        <tr>
            <td>{{student.id}}</td>
            <td>{{student.index_number}}</td>
            <td>{{student.name}}</td>
            <td>{{student.username}}</td>
            <td>{{student.program}}</td>
            <td>{{student.group_id}}</td>
            <td>{{student.email}}</td>
            <td><a href="{{url_for('admin.edit_student', student_id=student.id)}}" class="edit button w3-button w3-black">Edit</a></td>
            <td><button onclick="document.getElementById('delete-{{student.id}}').style.display='block'" class="w3-button w3-red">Delete</button></td>
        </tr>
        
        <div id="delete-{{student.id}}" class="w3-modal" style="display: none;">
            <div class="w3-modal-content w3-animate-top w3-card-4">
                <header class="w3-container w3-teal">
                    <span onclick="document.getElementById('delete-{{student.id}}').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                    <h2>Confirm Delete</h2>
                </header>
                <div>
                    <a class="button" href="{{url_for('admin.delete_user', user_id=student.id)}}" style="background-color: #f44336;">Yes</a>
                    <button onclick="document.getElementById('delete-{{student.id}}').style.display='none'" class="button" style="background-color: #4CAF50;">No</button>
                </div>
            </div>
        </div>
        {% endfor %}
    </table>
    {% else %}
    <p>No Student Database</p>
    {% endif %}
    
    <br><br>
    <div class="pagination flex-row">
    {# if there is a previous page, give it the prev link else leave it  #}
    {% if prev_url %}
    <a href="{{prev_url}}"><i class="fas fa-chevron-left"></i></a>
    {% else %}
    <a href="#"><i class="fas fa-chevron-left"></i></a>
    {% endif %}

    {% for page_num in students.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2)%}
    {% if page_num %}
    {% if students.page == page_num %}
    <a href="{{url_for('admin.dashboard', page=page_num)}}" class="pages active-page">{{page_num}}</a>
    {% else %}
    <a href="{{url_for('admin.dashboard', page=page_num)}}" class="pages">{{page_num}}</a>
    {% endif %}
    {% else %}
    <a href="#" class="pages">...</a>
    {% endif %}
    {% endfor %}

    {% if next_url %}
    <a href="{{next_url}}"><i class="fas fa-chevron-right"></i></a>
    {% else %}
    <a href="#"><i class="fas fa-chevron-right"></i></a>
    {% endif %}
</div>
</div>


{% endblock content %}
