{% extends "main-layout.html" %}
{% block custom_styles %}
<link rel="stylesheet" href="{{url_for('static', filename='css/explore.css')}}">
{% endblock custom_styles %}
{% block content %}

<!----------------------------- Main Site Section ------------------------------>

<main>

    <!------------------------ Site Title ---------------------->

    <!-- <section class="site-title">
            <div class="site-background" data-aos="fade-up" data-aos-delay="100">
                <h3>Tours & Travels</h3>
                <h1>Amazing Place on Earth</h1>
                <button class="btn">Explore</button>
            </div>
        </section> -->

    <!------------x----------- Site Title ----------x----------->

    <!-- --------------------- Blog Carousel ----------------- -->

    <section>
        <div class="blog">
            <h1 class="title">Colleges</h1>
            <div class="container">
                <div class="blog-post">
                    <div class="blog-content">
                        <img src="https://www.ghanayello.com/img/gh/b/1584698070-81-knust-school-of-engineering.jpg" alt="College of Engineering Logo">
                        <div class="blog-title">
                            <h3>COLLEGE OF ENGINEERING</h3>
                            <a href="{{url_for('main.college_explore', college='Engineering')}}"><button class="btn btn-blog">Explore</button></a>
                        </div>
                    </div>
                    <div class="blog-content">
                        <img src="{{url_for('static', filename='assets/college-pics/health.jpeg')}}" alt="College of Health Science Logo">
                        <div class="blog-title">
                            <h3>COLLEGE OF HEALTH SCIENCES</h3>
                            <a href="{{url_for('main.college_explore', college='Health Sciences')}}"><button class="btn btn-blog">Explore</button></a>
                        </div>
                    </div>
                    <div class="blog-content">
                        <img src="{{url_for('static', filename='assets/college-pics/science.jpeg')}}" alt="College of Science Logo">
                        <div class="blog-title">
                            <h3>COLLEGE OF SCIENCES</h3>
                            <a href="{{url_for('main.college_explore', college='Sciences')}}"><button class="btn btn-blog">Explore</button></a>
                        </div>
                    </div>
                    <div class="blog-content">
                        <img src="{{url_for('static', filename='assets/college-pics/carnasa.jpeg')}}" alt="post-1">
                        <div class="blog-title">
                            <h3>COLLEGE OF AGRICULTURE AND NATURAL RESOURCES</h3>
                            <a href="{{url_for('main.college_explore', college='Natural Resources')}}"><button class="btn btn-blog">Explore</button></a>
                        </div>
                    </div>
                    <div class="blog-content">
                        <img src="{{url_for('static', filename='assets/college-pics/humanities.jpeg')}}" alt="post-1">
                        <div class="blog-title">
                            <h3>COLLEGE OF HUMANITIES AND SOCIAL SERVICES</h3>
                            <a href="{{url_for('main.college_explore', college='Humanities')}}"><button class="btn btn-blog">Explore</button></a>
                        </div>
                    </div>
                    <div class="blog-content">
                        <img src="{{url_for('static', filename='assets/college-pics/built.jpeg')}}" alt="post-1">
                        <div class="blog-title">
                            <h3>COLLEGE OF ART AND BUILT ENVIRONMENT</h3>
                            <a href="{{url_for('main.college_explore', college='Cabe')}}"><button class="btn btn-blog">Explore</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ----------x---------- Blog Carousel --------x-------- -->

    <!-- ---------------------- Site Content -------------------------->




    <!-- -----------x---------- Site Content -------------x------------>

</main>

<!---------------x------------- Main Site Section ---------------x-------------->
{% endblock content %}
