{% extends "admin-layout.html" %}
{% block content %}
<!----------------------------- Main Site Section ------------------------------>

<div class="form" style="margin-top: 2rem;">
    <form action="" method="POST">
        <label for="name">Name</label>
        <input type="text" minlength="3" id="name" name="name" placeholder="Name">

        <label for="username">Username</label>
        <input type="text" minlength="5" id="username" name="username" placeholder="Username">

        <label for="email">Email</label>
        <input type="email" id="email" name="email" placeholder="Email">

        <label for="staffid">Staff ID</label>
        <input type="text" id="staffid" name="staffid" placeholder="Staff ID">

        <label>Password</label>
        <input type="text" id="password" name="password" placeholder="Password">
        
        <label for="hod">HOD?: </label>
        <select id="hod" name="hod">
            <option value="0">False</option>
            <option value="1">True</option>
        </select>
        
        <label for="department">Department</label>
        <select id="department" name="department" placeholder="Department">
        </select>

        <label for="college">College </label>
        <select id="college" name="college">
            <option value=""></option>
            <option value="Engineering">College of Engineering</option>
            <option value="Sciences">College of Science</option>
            <option value="Health Sciences">College of Health Sciences</option>
            <option value="Cabe">College of Art and Built Environment</option>
            <option value="Humanities">College of Humanities and Social Studies</option>
            <option value="Natural Resources">College of Agriculture and Natural Resources</option>
        </select>
        <input type="submit" value="Submit">
    </form>
</div>
<!----------------------------- // Main Site Section ------------------------------>

<script>
    
    var url = "https://lecture-monitor.herokuapp.com/api/departments";
    var jsonList;
    fetch(url).then(function (response) {
            return response.json();
        }).then(function(body){
       jsonList = body.data;
        
        function loadlist(selobj, url) {
        var categories = [];
        $(selobj).empty();
        $(selobj).append('<option value="0">--Select Department--</option>')
        $(selobj).append(
            $.map(jsonList.departments, function(el, i) {
                if (el.name.endsWith('4')){
                    if ($.inArray(el.name, categories) == -1) {
                    categories.push(el.name);
                    return $('<option>').val(el.name.slice(0, -1)).text(el.name.slice(0, -1));
                    console.log($(el.name));
                    }
                }
                
                
                
            }));
    }


    loadlist($('#department').get(0), jsonList);


    });
    
</script>
{% endblock content %}
