{% extends "student-layout.html" %}

{% block css_files1 %}
<link rel="stylesheet" href="{{url_for('static', filename='css/pdfViewer.css')}}">

<style>
    .chapters {
        overflow: scroll;
    }

    .btn {
        margin-top: 0;
        width: auto;
        display: flex;
    }
    
    .textarea {
        margin: 0px; 
        height: 479px; 
        width: 837px;
        overflow: scroll;
    }
</style>
{% endblock css_files1 %}

{% block content %}
<!----------------------------- Main Site Section ------------------------------>

<main>
    <div class="chapters">
        <ul>
            <button class="btn">
                <li><a href="{{url_for('students.dashboard')}}">ABSTRACT</a></li>
            </button>
            {% if report and report.introduction != None %}
            <button class="btn">
                <li><a href="{{url_for('students.report_intro')}}">INTRODUCTION</a></li>
            </button>
            {% endif %}
            
            {% if report and report.literature_review != None %}
            <button class="btn">
                <li><a href="{{url_for('students.report_literature')}}">LITERATURE REVIEW</a></li>
            </button>
            {% endif %}
            
            {% if report and report.methodology != None %}
            <button class="btn">
                <li><a href="{{url_for('students.report_methodology')}}">METHODOLOGY</a></li>
            </button>
            {% endif %}
            
            {% if report and report.testing_and_evaluation != None %}
            <button class="btn">
                <li><a href="{{url_for('students.report_testing')}}">TESTING AND EVALUATION</a></li>
            </button>
            {% endif %}
            
            {% if report and report.conclusion != None %}
            <button class="btn">
                <li><a href="{{url_for('students.report_conclusion')}}">CONCLUSION AND RECOMMENDATIONS</a></li>
            </button>
            {% endif %}
            
            {% if report and report.full_report != None %}
            <button class="btn">
                <li><a href="{{url_for('students.report_full')}}">FULL REPORT</a></li>
            </button>
            {% endif %}
        </ul>
    </div>
    <div class="pdf-container">
        <div class="pdf-container">
        <form action='' method='POST'>
            {% if abstract_text == None %}
                <textarea name="abstract" class="textarea" rows="4" cols="80" placeholder="Insert Abstract Here..."></textarea>
            {% else %}
                <textarea name="abstract" class="textarea" rows='10' cols='10'>{{abstract_text}}</textarea>
            {% endif %}
            <button type="submit" style="background-color: green;">Save</button>
        </form>
    </div>
    </div>
    <div class="comment">
        {% if comments %}
        {% for comment in comments %}
        <ul class="comment-list">
            <li id="comment-62201" class="comment even thread-even depth-1">
                <article id="div-comment-62201" class="comment-body">
                    <footer class="comment-meta">
                        <div class="comment-author vcard">
                            <b class="fn">{{lecturer.name}}</b> <span class="says">says:</span>
                        </div>
                        <div class="comment-metadata">
                            <a href="https://www.inmotionhosting.com/support/website/create-html-form/#comment-62201"><time datetime="2021-04-15T06:01:29-04:00">{{comment.created_at.strftime("%Y-%B-%d, %H:%M")}}</time></a>
                        </div>
                    </footer>
                    <div class="comment-content">
                        <p>{{comment.comment}}</p>
                    </div>
                </article>
            </li>
        </ul>
        {% endfor %}
        {% else %}
        <p>No Comments Yet</p>
        {% endif %}
    </div>
</main>

<!---------------x------------- Main Site Section ---------------x-------------->
{% endblock content %}
