{% extends "lecturer-layout.html" %}

{% block custom_styles %}
<style>
    .customers-container {
        overflow: auto;
        max-width: 65rem;
        margin: 2rem auto;
        height: 36rem;
    }

    #customers {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
        padding: 11rem;
    }

    #customers td,
    #customers th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    #customers tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    #customers tr:hover {
        background-color: #ddd;
    }

    #customers th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #04AA6D;
        color: white;
    }
</style>
{% endblock custom_styles %}


{% block content %}

<!-- ------------x---------------  Navigation --------------------------x------------------- -->

<!---------------------- Main Site Section ------------------------------>
<div class="customers-container">
    {% if groups %}
    <table id="customers">
        <tr>
            <th>Group Name</th>
            <th>Project Topic</th>
            <th>Action</th>
        </tr>
        {% for group in groups %}
        <tr>
            <td>{{group}}</td>
            {% set report_name = report.query.filter_by(group_id=group).first().topic %}
            {% if report_name %}
            <td>{{report_name}}</td>
            {% else %}
            <td>No Topic Assigned</td>
            {% endif %}
            <td><a href="{{url_for('lecturers.abstract', group_id=group)}}">View Report</a></td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <center><p>No Groups Assigned</p></center>
    {% endif %}
</div>

{% endblock content %}
