{% extends "student-layout.html" %}
{% block custom_styles %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/Style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/form.css')}}">
{% endblock custom_styles %}

{% block content %}
<!----------------------------- Main Site Section ------------------------------>

<div class="form">
    <form action="" method="POST" enctype="multipart/form-data">
        <label for="fname">Report Title</label>
        {% if report %}
            <input type="text" id="title" name="title" value="{{report.title}}">
        {% else %}
            <input type="text" id="title" name="title" placeholder="Report Title">
        {% endif %}

        <label for="lname">Group Id</label>
        <input type="text" id="groupid" name="groupid" value="{{student.group_id}}" readonly>
        
        {% if report %}
        <label for="lname">Report</label><br>
        <input type="file" id="file" name="file" placeholder="Upload Report" accept="application/pdf"><br>
        {% endif %}

        <label for="college">College </label>
        <input type="text" id="college" name="college" value={{student.college}} readonly>
        
        {% if report %}
        <label for="chapter">Chapter </label>
        <select id="chapter" name="chapter">
            <option value="fullreport">Full Report</option>
        </select>
        {% endif %}

        <label for="topic">Topics </label>
        {% if report %}
            <input type="text" id="topic" name="topic" value="{{report.topic}}" readonly>
        {% else %}
        <select id="topic" name="topic">
            {% for category in categories %}
            <option value="{{category.name}}">{{category.name}}</option>
            {% endfor %}
        </select>
        {% endif %}

        <input type="submit" value="Submit">
    </form>
</div>
<!----------------------------- // Main Site Section ------------------------------>
{% endblock content %}
